#account-form-container
  div.content
    div.page-header
      h1 #{title} 
    div.row
      div.span4
        h3 Provided by Tómas & Jónas.
    div.row
      div.span4
        h4 Here are the rules (Icelandic):
        ol
          li Fyrir hvern leik þarf að giska á úrslit, markatölu og leikmann sem mun skora í leiknum.
          li Aðeins má giska einu sinni á hvern leikmann sem skorar í leiknum í riðlakeppninni. Það má svo giska aftur á leikmenn í útsláttarkeppninni en bara einu sinni.
          li Fyrir hvern riðil þarf að giska á tvö lið sem fara upp úr riðlinum.
          li Fyrir hvern riðil þarf að velja markahæsta mann riðilsins.
          li Fyrir allt mótið þarf að setja hvaða lið spila til úrslita og raða þeim í 1. og 2. sæti. 
          li Fyrir allt mótið þarf að velja markahæsta leikmann mótsins.
          li Fyrir allt mótið þarf að velja stoðsendingakóng mótsins.
          li Fyrir allt mótið þarf að velja það lið sem nær lélegasta árangrinum Stigagjöf keppninnar. 
          li Fyrir hárrétt úrslit fást 5 stig. 
          li Fyrir rétt tákn 2 stig (1x2).
          li Fyrir hvert rétt lið sem fer upp úr riðlinum 2 stig.
          li Fyrir markahæsta leikmann hvers riðils 2 stig.
          li Ef giskað er rétt á 1.,2. og 3. sæti fást 11 stig.
          li Ef aðeins er giskað rétt á 1.sætið fást 4 stig.
          li Ef aðeins er giskað á 2.sætið rétt fást 3 stig.
          li Ef aðeins er giskað á 3. sætið rétt fást 2 stig.
          li Fyrir hvert lið rétt í TOP 3 en í vitlausu sæti fást 1 stig.
          li Fyrir markahæsta mann mótsins fást 4 stig.
          li Fyrir stoðsendingarhæsta mann mótsins fást 4 stig.
          li Fyrir liðið með lélegasta árangurinn fást 3 stig.
          li Fyrir réttan markaskorara í leik fást 2 stig.
        h4 Rules in English coming soon.