// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
- currentUserLeagues = typeof(currentUserLeagues) != 'undefined' ? currentUserLeagues : {}
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
  div
    form(action='/leagues',method='post').form-horizontal.well.span6
      p
      h2 Create a League
      p You can create a league and at the bottom of this page you'll be granted an invitation code which you can share with whoever you want to join your league. Note that you need to join your own league if you wish to participate in it.
      div(data-role='fieldcontain')
          fieldset
              #clist-cg.control-group
                label.control-label(for='league_name') Name:
                .controls
                  input#league_name(type='text', value='', name='league_name', data-theme='c')
                  input(type='submit',value='Create a League',data-transition='fade', data-theme='c')
  div
    form(action='/leagues',method='post').form-horizontal.well.span6
      h2 Join a League
      p Wish to join someone's league? Ask him/her for the invitation code and submit it here! Once we finish the Scoreboard (very soon!) you'll see your ranking within the leagues you've participated in. Note that you can be a part of many leagues.
      div(data-role='fieldcontain')
          fieldset
              #clist-cg.control-group
                label.control-label(for='league_code') Code:
                .controls
                  input#league_code(type='text', value='', name='league_code', data-theme='c')
                  input(type='submit',value='Join a League',data-transition='fade', data-theme='c')
  div.well.span6
    h2 Your Leagues
      p Your can invite friends to your league by sharing the code with them
      -for(league in currentUserLeagues)
        p League: #{currentUserLeagues[league].name} (Code : #{currentUserLeagues[league].code})


// display form errors in a custom modal window //

include modals/form-errors
